body {
    font-family: helvetica;
}

header {
    color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: grey;
    background-image: -webkit-linear-gradient(85.5deg, #ffffff 50%, #6f6f6f 50%);
    min-height: 32em;
}

.text1 {
    margin-bottom: 0px;
    font-size: 13px;
    margin-top: 40px;
    height: 23px; 
    letter-spacing: 0px;
    opacity: 1;
}

.text2 {
    margin-top: 0px;
    font-weight: bold;
    font-size: 30px;
}

.text3 {
    margin-top: 0px;
    margin-bottom: 40px;
    font-size: 10px;
}